@{
  Layout = "_Layout";
}

@using PierresBakery.Models;

<h1>Vendors</h1>

@if (@Model.Count == 0)
{
  <h3>No vendors have been added yet!</h3>
} 

@foreach (Vendor vendor in Model)
{
  <h3><a href='/vendors/@vendor.Id'>@vendor.Name</a></h3>
  <h5><ul><li>@vendor.Description</li></ul></h5>
  <h5><ul><li><a href='/vendors/@vendor.Id/orders'>Current vendor orders</a></li></ul></h5>
  <h5><ul><li><a href='/vendors/@vendor.Id/orders/new'>Add new order</a></li></ul></h5>

}

<p><a href='/vendors/new'>Add another vendor</a></p>
<p><a href='/'>Back home</a></p>