@{
  Layout = "_Layout";
}

@using PierresBakery.Models;

<h1>Orders</h1>



@foreach (Order orders in @Model)
{
  <h3>@orders.Name</h3>
  <h5><ul>@orders.Description</ul></h5>
  <h5><ul>$@orders.PurchasePrice</ul></h5>
}

<p><a href='/vendors'>Back to vendors</a></p>
<p><a href='/'>Back home</a></p>